<footer class="web-footer">
	<div class="footer-outer">
		<div class="footer-inner pt-50">
			<section class="footer-section">
				<div class="container-fluid">
					<div class="container">
						<div class="row mb-10">
							<div class="col-md-3">
								<p class="footer-title t-white">
									About Greenage Industries
								</p>
								<div class="text-center">
									<p class="footer-txt-md t-gray text-justify">
										GreenAge Industries have etched their name in the field of development and manufacturing of Rotomoulding Powder/Compounds in blazing fonts. Foundation of the company was laid back in the year 2012.
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div>
									<p>
										{% include "templates/includes/footer/footer_items.html" %}
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<p class="footer-title t-white">
									Rotomoulding Powder
								</p>
								<div class="mt-5">
									<img src="/files/IMG_8451_MASTER_RED.jpg" alt="Red Powder" title="Red Powder" height="60" width="70" class="p-1">
									<img src="/files/IMG_8457_MASTER_WHITE.jpg" alt="White Powder" title="White Powder" height="60" width="70" class="p-1">
									<img src="/files/IMG_8454_MASTER_YELLOW.jpg" alt="Yellow Powder" title="Yellow Powder" height="60" width="70" class="p-1">
									<br>
									<img src="/files/IMG_8444_MASTER_BLUE.jpg" alt="Blue Powder" title="Blue Powder" height="60" width="70" class="p-1">
									<img src="/files/IMG_8446_MASTER_DARK_GREEN.jpg" alt="Dark Green Powder" title="Dark Green Powder" height="60" width="70" class="p-1">
									<img src="/files/IMG_8458_MASTER_BROWN.jpg" alt="Brown Powder" title="Brown Powder" height="60" width="70" class="p-1">
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-12">
								<div>
									<p class="footer-title t-white">
										Contact Information
									</p>
									<div class="row-flex">
										<span class="fa fa-location"></span>
										<span class="footer-txt-sm pl-5 t-gray">
											Plot No 123, Road No 6,<br> Phase I Kathwada G I D C,<br>Ahmedabad , India
										</span>
									</div>
									<br>
									<div class="row-flex">
										<span class="fa fa-phone"></span>
										<span class="footer-txt-sm pl-5 t-gray">
											+91 79 297 08677<br>+91 99798 48853
										</span>
									</div>
									<br>
									<div class="row-flex">
										<span class="fa fa-mail"></span>
										<span class="footer-txt-sm pl-5 t-gray">
											info@greenageind.com<br>sales@greenageind.com
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row footer-dark pt-20">
						<div class="footer-social text-center">
							<div class="pb-20">
								<img src="/svg/greenage-logo.svg" class="footer-logo" alt="Greenage Industries" title="Greenage Industries">
							</div>
							<div class="pb-20">
								<ul class="footer-social">
									<li>
										<a class="zoom" href="https://www.facebook.com/GreenAgeInd" target="_blank">
											<img title="Facebook/GreenAgeInd" alt="facebook.com/GreenAgeInd" src="/svg/social-facebook.svg" class="footer-icon-social">
										</a>
									</li>
									<li>
										<a class="zoom" href="https://twitter.com/greenageind" target="_blank">
											<img title="Twitter/greenageind" alt="Twitter/greenageind" src="/svg/social-twitter.svg" class="footer-icon-social">
										</a>
									</li>
									<li>
										<a class="zoom" href="https://plus.google.com/u/0/113406778081216285851" target="_blank">
											<img title="plus.google.com/greenageind" alt="plus.google.com/greenageind" src="/svg/social-google.svg" class="footer-icon-social">
										</a>
									</li>
									<li>
										<a class="zoom" href="http://www.linkedin.com/company/greenage-industries" target="_blank">
											<img alt="linkedin/company/greenage-industries" title="linkedin/company/greenage-industries" src="/svg/social-linkedin.svg" class="footer-icon-social">
										</a>
									</li>
									<li>
										<a class="zoom" href="https://www.youtube.com/channel/UCp3G7RDlMdc6LOSwmY29-pg" target="_blank">
											<img alt="https://www.youtube.com/channel/UCp3G7RDlMdc6LOSwmY29-pg" title="youtube/greenage-industries" src="/svg/social-youtube.svg" class="footer-icon-social">
										</a>
									</li>
									<!-- <li>
										<a class="zoom" href="https://www.instagram.com/finbyz/">
											<img alt="https://www.instagram.com/finbyz/" title="instagram/finbyz" src="/svg/social-instagram.svg" class="footer-icon-social">
										</a>
									</li> -->
								</ul>
								<p class="footer-txt-xs text-center t-gray">
									&copy; Copyright {{ frappe.utils.getdate().year }}
									<a href="/index">
										<span class="t-lightgray">Green Age Industries</span>
									</a>
									 All Rights Reserved
									 &nbsp;&nbsp;|&nbsp;&nbsp;
									 Developed by&nbsp;&nbsp;
									<a href="https://finbyz.tech" target="_blank">
										<span class="t-lightgray">
											FinByz Tech Pvt Ltd
										</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</footer>